<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OtomasyonModern.Properties.Settings.alisahindbConnectionString" connectionString="server=localhost;user id=root;database=alisahindb" providerName="MySql.Data.MySqlClient" />
        <add name="OtomasyonModern.Properties.Settings.alisahindbConnectionString1" connectionString="server=172.21.54.3;user id=alisahin;password=sahin.123;database=alisahindb" providerName="MySql.Data.MySqlClient" />
        <add name="OtomasyonModern.Properties.Settings.sevval_wpConnectionString" connectionString="server=localhost;user id=root;database=sevval_wp" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
